{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container">
        <div class="card-deck" style="max-width: 500px">
          <div class="card" style="margin-top:30px; background-color: gold;">
            {% load static %}
            <img class="card-img-top" src="{% static 'min.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="">{{ ad.title }}</h5>
              <h7><p class="card-text">{{ ad.description }}</p></h7>
            </div>
             <div class="card-footer">
              <small class="text-muted">Last updated 3 min ago</small>
             </div>
          </div>
        </div>
</div>
{% endblock %}